<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyj.mapp.dao.OrderMapper">

    <select id="findById" resultType="OrderDto">
        SELECT *
          FROM ORDER_T
         WHERE ORDER_NO = #{orderNo}
    </select>

    <insert id="insertOrder" parameterType="OrderDto">
        <selectKey keyProperty="orderNo" resultType="long" order="BEFORE">
            SELECT ORDER_SEQ.NEXTVAL
              FROM DUAL
        </selectKey>
        INSERT INTO ORDER_T (
            ORDER_NO
          , BUYER_USER_NO
          , AMOUNT
          , ORDER_DATE
          , USED_COUPON_YN
        ) VALUES (
            #{orderNo}
          , #{buyerUserNo}
          , #{amount}
          , SYSDATE
          , 'N'
        )
    </insert>

    <select id="findPointsByUserNo" resultType="PointDto">
        SELECT POINT_NO, USER_NO, ORDER_NO, AMOUNT, REASON, CREATED_AT
          FROM POINT_T
         WHERE USER_NO = #{userNo}
         ORDER BY CREATED_AT DESC
    </select>

    <select id="findOrdersByUserNo" parameterType="int" resultType="OrderDto">
        SELECT ORDER_NO, BUYER_USER_NO, AMOUNT, ORDER_DATE
          FROM ORDER_T
         WHERE BUYER_USER_NO = #{userNo}
         ORDER BY ORDER_DATE DESC
    </select>

</mapper>