<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyj.mapp.dao.ReferralMapper">

    <resultMap id="UserMap" type="UserDto">
        <id     column="USER_NO"             property="userNo" />
        <result column="ID"                  property="id" />
        <result column="PW"                  property="pw" />
        <result column="NAME"                property="name" />
        <result column="GENDER"              property="gender" />
        <result column="EMAIL"               property="email" />
        <result column="HP"                  property="hp" />
        <result column="REFERRAL_CODE"       property="referralCode" />
        <result column="JOINED_AT"           property="joinedAt" />
        <result column="REFERRED_BY_USER_NO" property="referredByUserNo"/>
    </resultMap>

    <!-- 추천 관계 입력 -->
    <insert id="insertReferral" parameterType="map">
        INSERT INTO REFERRAL_T (
        REFERRAL_NO
        , REFERRER_NO
        , REFERRED_NO
        , CREATED_AT
        ) VALUES (
        REFERRAL_SEQ.NEXTVAL
        , #{referrerNo}
        , #{referredNo}
        , SYSDATE
        )
    </insert>

    <!-- 전체 추천 관계 목록 -->
    <select id="getAllReferralUsers" resultMap="UserMap">
        SELECT U.USER_NO, U.ID, U.PW, U.NAME, U.GENDER, U.EMAIL, U.HP, U.REFERRAL_CODE, U.ROLE, U.JOINED_AT, R.REFERRER_NO AS REFERRED_BY_USER_NO
          FROM USER_T U LEFT JOIN REFERRAL_T R
               ON U.USER_NO = R.REFERRED_NO
    </select>




</mapper>