<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyj.mapp.dao.UserMapper">

    <resultMap id="UserMap" type="UserDto">
        <id     column="USER_NO"             property="userNo" />
        <result column="ID"                  property="id" />
        <result column="PW"                  property="pw" />
        <result column="NAME"                property="name" />
        <result column="GENDER"              property="gender" />
        <result column="EMAIL"               property="email" />
        <result column="HP"                  property="hp" />
        <result column="REFERRAL_CODE"       property="referralCode" />
        <result column="JOINED_AT"           property="joinedAt" />
        <result column="REFERRED_BY_USER_NO" property="referredByUserNo"/>
        <result column="GRADE"               property="grade"/>
        <result column="MAPP_POINT"          property="mappPoint"/>
    </resultMap>


    <!-- 사용자 로그인용 쿼리 (ID와 PW가 모두 null이 아닌 경우에만 실행됨) -->
    <select id="getUser" parameterType="Map" resultType="UserDto">
        SELECT USER_NO, ID, PW, NAME, GENDER, EMAIL, HP, REFERRAL_CODE, ROLE, JOINED_AT
          FROM USER_T
        <where>
            <if test="id != null and pw != null">
                ID = #{id} AND PW = #{pw}
            </if>
        </where>
    </select>

    <!-- 회원 목록 -->
    <select id="findAll" resultType="UserDto">
        SELECT *
        FROM USER_T
        ORDER BY USER_NO
    </select>

    <!-- 회원 등록 -->
    <insert id="insertUser" parameterType="UserDto">
        <selectKey keyProperty="userNo" resultType="int" order="BEFORE">
            SELECT USER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO USER_T (
            USER_NO
          , ID
          , PW
          , NAME
          , GENDER
          , EMAIL
          , HP
          , REFERRAL_CODE
          , ROLE
          , GRADE
          , MAPP_POINT
          , JOINED_AT
        ) VALUES (
            #{userNo}
          , #{id}
          , #{pw}
          , #{name}
          , #{gender}
          , #{email}
          , #{hp}
          , #{referralCode}
          , #{role}
          , #{grade}
          , #{mappPoint}
          , SYSDATE
        )
    </insert>


    <!-- ID로 회원 조회 -->
    <select id="findById" parameterType="String" resultType="UserDto">
        SELECT *
          FROM USER_T
         WHERE ID = #{id}
    </select>

    <!-- 추천 코드로 회원 조회 -->
    <select id="findByReferralCode" parameterType="String" resultType="UserDto">
        SELECT *
          FROM USER_T
         WHERE REFERRAL_CODE = #{referralCode}
    </select>

    <update id="addMappPoint">
        UPDATE USER_T
           SET MAPP_POINT = NVL(MAPP_POINT, 0) + #{amount}
         WHERE USER_NO = #{userNo}
    </update>

    <select id="findUserByUserNo" resultType="UserDto">
        SELECT *
          FROM USER_T
         WHERE USER_NO = #{userNo}
    </select>

</mapper>